{% extends "layouts/app.html" %}

{% block site %}
<div class="row gx-4 p-5">

    <h1><strong>Atualizações</strong></h1>

    <div class="col-12 pb-4">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Atualizar bases de dados acessórias</div>
            </div>
            <div class="card-body p-1">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Base de dados</th>
                                <th scope="col">Última atualização</th>
                                <th scope="col">Local</th>
                                <th scope="col" class="col-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><strong>Bancos</strong></td>
                                <td>20/01/2024</td>
                                <td>Base local</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-primary btn-icon">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><strong>Aeronaves</strong></td>
                                <td>20/01/2024</td>
                                <td>Online</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-secondary btn-icon">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><strong>Pessoas Politicamente Expostas</strong></td>
                                <td>20/01/2024</td>
                                <td>Online</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-secondary btn-icon">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><strong>Programas Sociais (Governo Federal)</strong></td>
                                <td>20/01/2024</td>
                                <td>Online</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-secondary btn-icon">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><strong>Pessoas jurídicas</strong></td>
                                <td>20/01/2024</td>
                                <td>Online</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-secondary btn-icon">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><strong>Mandados de Prisão</strong></td>
                                <td>20/01/2024</td>
                                <td>Online</td>
                                <td>
                                    <a href="/atualizacoes/bancos" class="btn btn-secondary btn-icon">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}