<form action="/rif/modal/instituicoes/store/" method="POST" class="form">
    <input type="hidden" name="id" value="{{ informacao_adicional.id }}">
    <input type="hidden" name="rif_id" value="{{ rif.id }}">

    <div class="row gy-4">
        <div class="col-md-2">
            <div class="form-group">
                <label for="numero">Indexador:</label>
                <input type="number" name="indexador" class="form-control" value="{{informacao_adicional[1]}}" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="numero">Tipo:</label>
                <select name="tipo_transacao" class="form-select" required>
                    <option>Crédito</option>
                    <option>Débito</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" name="valor" class="form-control" value="{{informacao_adicional.valor}}" required >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="transacoes">Transações:</label>
                <input type="number" name="transacoes" class="form-control" value="{{informacao_adicional.transacoes}}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="plataforma">Plataforma:</label>
                <input type="text" name="plataforma" class="form-control" value="{{informacao_adicional.plataforma}}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="number" name="cpf" class="form-control" value="{{informacao_adicional.cpf}}" required >
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control" value="{{informacao_adicional.nome}}" required >
            </div>
        </div>

        <div class="col-12 align-self-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-success btn-icon"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>