<form action="/rif/upload" method="POST" class="dropzone border-0" enctype="multipart/form-data" id="file-dropzone">

    <input type="hidden" name="rif_id" value="{{rif}}">

    <div class="row">
        <div class="col-8 form-group">
            <label for="arquivos" class="form-label">Pasta de arquivos:
                <span class="text-danger">(*)</span>
                <small>Selecione a <strong>pasta</strong> com os 3 arquivos (Comunicações, Envolvidos e Ocorrências)</small>
            </label>
            <input type="file" webkitdirectory directory multiple class="form-control" name="arquivos" id="arquivos" required>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between mt-2">
        <button type="submit" class="btn btn-success btn-icon">
            <i class="fas fa-upload"></i> Processar
        </button>
    </div>
</form>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/static/js/vendor/dropzone.js"></script>
